# The Base64 encoded hash of the stream page password. Generate one with `node hash-password.js`
SITE_PASSWORD_HASH="Y29uZ3JhdHVsYXRpb25zIQ=="

# The URL of the SRS server. This is used to connect to the SRS server and publish the stream.
SRS_WHEP_URL="http://192.168.1.100:1985/rtc/v1/whep/?app=live&stream=livestream"

VITE_META_TITLE_PUBLIC="PrivateStream"
VITE_META_TITLE_PRIVATE="Welcome back!"
VITE_META_DESCRIPTION="Private livestream viewer for friend groups."
VITE_META_COLOR="#09090b"
VITE_META_URL="https://stream.example.com"
VITE_META_IMAGE="/meta.gif"